@model NSFL.Models.Stats.TeamTPEViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Index</h2>
        <h3>Player TPE</h3>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover playerDataTables">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.AllPlayers.FirstOrDefault().PlayerSeasonDrafted)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.AllPlayers.FirstOrDefault().TeamName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.AllPlayers.FirstOrDefault().PlayerFullName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.AllPlayers.FirstOrDefault().PlayerPosition)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => Model.AllPlayers.FirstOrDefault().PlayerTPE)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var player in Model.AllPlayers)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(teamPlayer => player.PlayerSeasonDrafted)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(teamPlayer => player.TeamName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(teamPlayer => player.PlayerFullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(teamPlayer => player.PlayerPosition)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(teamPlayer => player.PlayerTPE)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h3>Team TPE</h3>
    </div>
</div>

@foreach (var team in Model.Teams)
{
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <dl class="dl-vertical">
                        <dt>
                            @Html.DisplayNameFor(model => team.TeamName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => team.TeamName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => team.TeamTPE)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => team.TeamTPE)
                        </dd>
                    </dl>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => team.Players.FirstOrDefault().PlayerSeasonDrafted)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => team.Players.FirstOrDefault().PlayerFullName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => team.Players.FirstOrDefault().PlayerPosition)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => team.Players.FirstOrDefault().PlayerTPE)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var player in team.Players)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(teamPlayer => player.PlayerSeasonDrafted)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(teamPlayer => player.PlayerFullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(teamPlayer => player.PlayerPosition)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(teamPlayer => player.PlayerTPE)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}


@section Styles {
    @Styles.Render("~/Content/datatables")
}

@section Scripts {
    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.playerDataTables').DataTable({
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                order: [[4, "desc"]],
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'InventoryExport' },
                ]

            });

            $('.dataTables').DataTable({
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                order: [[3, "desc"]],
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'InventoryExport' },
                ]

            });
        });
    </script>
}